.Play {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

/**/
.Countdown {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 15px;
  border-radius: 6px;
  background-color: white;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.Countdown img {
  width: 45px;
  height: auto;
}

.Countdown p {
  font-size: xx-large;
  font-weight: 500;
}
/**/
